@font-face {
    font-family: celestia;
    src: local("celestia medium redux");
    src: url("../fonts/celestia.eot") format("eot");
    src: url("../fonts/celestia.otf") format("otf");
    src: url("../fonts/celestia.svg") format("svg");
    src: url("../fonts/celestia.ttf") format("truetype");
    src: url("../fonts/celestia.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@media (min-width: 360px) and (max-width: 720px) {
    #menu {
        width: 100%;
    }

    .xmlarea {
        width: 100%;
    }
}

body {
    margin: 0;
    font-family: celestia, serif;
    font-size: 18px;
    background-color: #02162e;
}

.rainbow {
    background: linear-gradient(to right, #672f89, #1e98d3, #62bc4d, #fdf6af, #f37033, #ee4144);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.header {
    background-color: #9edbf9;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 25px;
}

.header_dashy {
    vertical-align: middle;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    position: absolute;
    width: 100%;
    height: calc(100% - 50px);
}

#content_menu {
    background-color: #02162e;
    width: 360px;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

hr {
    border-color: #9edbf9;
    margin-top: 20px;
    margin-left: -10px;
}

.content_menu_block {
    margin-left: 25px;
}

.content_menu_button {
    padding: 5px 10px;
    border: none;
    outline: none;
    color: #000;
    background: #9edbf9;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px 0;
    width: min-content;
}

.content_menu_button:hover {
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    animation: glowing 20s linear infinite;
}

.content_menu_block_gluid {
    display: flex;
}

#content_menu_block_gluid {
    width: 245px;
}

.content_menu_block_acewrap {
    padding: 5px 0;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
}

.content_menu_block_acewrap:hover {
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    animation: glowing 20s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

#content_menu_block_acewrap {
    height: -webkit-fill-available;
}

.content_xmlarea {
    background-color: #9edbf9;
    position: relative;
    min-width: 360px;
    min-height: 550px;
    width: calc(100% - 360px);
    height: 100%;
    box-sizing: border-box;
}

#content_xmlarea_textfeld {
    position: absolute;
    left: 2px;
    top: 0;
    right: 0;
    bottom: 0;
    resize: none;
}

#messages {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
    position: fixed;
    width: 100%;
    pointer-events: none;
    user-select: none;
}

.messages_message {
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    pointer-events: none;
    user-select: none;
}

.messages_message_info {
    background: green;
}

.messages_message_alert {
    background: orange;
}

.messages_message_error {
    background: red;
}
