@font-face {
    font-family: celestia;
    src: local("celestia medium redux");
    src: url("../fonts/celestia.eot") format("eot");
    src: url("../fonts/celestia.otf") format("otf");
    src: url("../fonts/celestia.svg") format("svg");
    src: url("../fonts/celestia.ttf") format("truetype");
    src: url("../fonts/celestia.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

*::-webkit-scrollbar, *::-webkit-scrollbar:vertical, *::-webkit-scrollbar:horizontal {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-corner, *::-webkit-scrollbar-track, *::-webkit-scrollbar-track-piece {
    background-color: #02162e;
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-thumb {
    background: #575662;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #6900ff;
}

body {
    margin: 0;
    font-family: celestia, serif;
    font-size: 18px;
    background-color: #02162e;
}

.header {
    background-color: #9edbf9;
    width: 100%;
    height: 50px;
    font-size: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_image {
    margin-right: 10px;
}

.header_text {
    padding-bottom: 5px;
    font-weight: bold;
}

.rainbow {
    background: -webkit-gradient(linear, left top, right top, from(#672f89), color-stop(#1e98d3), color-stop(#62bc4d), color-stop(#fdf6af), color-stop(#f37033), to(#ee4144));
    background: -o-linear-gradient(left, #672f89, #1e98d3, #62bc4d, #fdf6af, #f37033, #ee4144);
    background: linear-gradient(to right, #672f89, #1e98d3, #62bc4d, #fdf6af, #f37033, #ee4144);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.content {
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

#content_menu {
    background-color: #02162e;
    width: 360px;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    height: 100%;
}

hr {
    border-color: #9edbf9;
    margin-top: 20px;
    margin-left: -10px;
}

.content_menu_block {
    margin-left: 25px;
}

.content_menu_block_button {
    padding: 5px 10px;
    border: none;
    outline: none;
    color: #000;
    background: #9edbf9;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px 0;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
}

.content_menu_block_button:hover {
    background: -o-linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    -webkit-animation: glowing 20s linear infinite;
    animation: glowing 20s linear infinite;
}

.content_menu_block_gluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#content_menu_block_gluid {
    width: 245px;
}

.content_menu_block_acewrap {
    padding: 5px 0;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content_menu_block_acewrap:hover {
    background: -o-linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    -webkit-animation: glowing 20s linear infinite;
    animation: glowing 20s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#content_menu_block_acewrap {
    height: -webkit-fill-available;
}

.content_xmlarea {
    background-color: #9edbf9;
    position: relative;
    min-width: 360px;
    width: calc(100% - 360px);
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 360px) and (max-width: 720px) {
    #content_menu {
        width: 100%;
        height: auto;
    }

    .content_xmlarea {
        width: 100%;
    }
}

#content_xmlarea_textfeld {
    position: absolute;
    left: 2px;
    top: 0;
    right: 0;
    bottom: 0;
    resize: none;
}

#messages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
    top: 50px;
    width: 100%;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.messages_message {
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.messages_message_info {
    background: green;
}

.messages_message_alert {
    background: orange;
}

.messages_message_error {
    background: red;
}

.statistic {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}
